body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.userData{
  height: 50vh;
  font-weight: bold;
  margin:3%;
  margin-top:0%;
  border: 2px solid #58595b;
  border-radius: 5px;
  color:black;

}

.name {
  border-bottom: 1px solid #58595b;
  width: 300px;
}


.pageSelection {
  background-color: #58595b;
  width: 100vw;
}

