body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
  /* background-image: url('./Pages/pictures/image01.jpg');
  background-size: cover; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}

.userData {
  height:auto;
  width:fit-content;
  font-weight: medium;
  margin: auto;
  margin-top: 0%;
  border: 5px solid #58595b;
  border-radius: 8px;
  color: black;
  margin-top: 2%;
  padding: 2%;
  background: linear-gradient(to bottom, white, rgb(169, 168, 168));
}

.profileBanner{
  font-weight: bold;
  text-align: center;
}

.usernameBanner{
  text-align:center;
  margin-bottom: 0%;
}

.name {
  font-weight: bolder;
  color:gold;
  -webkit-text-stroke-width:medium;
  -webkit-text-stroke-color: black;
  margin-top: 0%;
  font-size: 38px;
  border-bottom: 1px solid #58595b;
  text-align: center;
}

.pageSelection {
  margin-bottom:0%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #58595b;
  border: 1px solid white;
  border-radius: 5px;
}

.pageBtn{
  color: white;
  background-color: transparent;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
}

.pageSelection button:hover{
  background-color: grey;
  border: 1px solid #f6e939a1;
}

.pageSelection li {
  display: flex;
  align-items: center;
  text-align: center;
}

.activeBtn {
  color: white;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  border: 2px solid #f6e939a1;
}

.submitBtn {
  color:white;
  background: linear-gradient(to bottom, #47d7f7, #117E99);
  margin: 2px;
  margin-top:25px;
  padding: 13px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.setUserRole{
  display: block;
  margin-left:auto;
  margin-right: auto;
  margin-top:2%;
  color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background: linear-gradient(to bottom, #47d7f7, #094554);
  border-radius: 8px;
  padding: 10px;
  width: 450px;
}

.setRoleForm input, select, button{
  padding: 8px;
  margin: 2px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}
.login{
  display: block;
  margin-left:auto;
  margin-right: auto;
  margin-top: 5%;

  color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background: linear-gradient(to bottom, #E3C95B, #71652e);
  border-radius: 8px;
  padding: 10px;
  width: 250px;
  height: 210px;
}
.loginForm input, button {
  padding: 8px;
  margin: 2px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.loginForm button {
  color:white;
  background: linear-gradient(to bottom, lightgrey, #232424);
  margin: 2px;
  margin-top:25px;
  padding: 13px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box; /* Include padding and border in the element's total width */
  cursor: pointer;
}
.login-title, label{
  margin:5px;
}

.error-text{
  font-size: smaller;
  color:white;
  background-color: rgba(255, 0, 0, 0.49);
  border:1px solid red;
  text-align: center;
  padding: 3px;
  margin: 2px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.success-text{
  font-size: smaller;
  color:white;
  background-color: rgba(0, 128, 0, 0.32);
  border:1px solid green;
  text-align: center;
  padding: 3px;
  margin: 2px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.register{
  display: block;
  margin-left:auto;
  margin-right: auto;
  margin-top: 5%;
  color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background: linear-gradient(to bottom, #E3C95B, #71652e);
  border-radius: 8px;
  padding: 10px;
  width: 250px;
  height: 325px;
}
