.login{
    color: white;
    font-size: 1rem;
}

.login input {
    background-color: black;
    color:white;
    border-style:groove;
    border-width: 1px;
    border-radius: 3px;
    height: 1.2rem;
    margin-right: 0.5rem;
}